
body{
    background-color: #f1e8e8;
}

.itm-clr{
    color: black;
}
.bell{
    margin-right: 15px;
}
     #sticky-sidebar {
        /* transition: all 0.3s ease-out; */
        overflow-y: scroll;
        /* -webkit-overflow-scrolling: touch; */
        /* position: absolute; */
        top: 0;
        bottom: 0;
        z-index: 500;
      }